body {
  text-align: center;
  display: block;
  background-color: black;
  color: whitesmoke;
}
h1 {
  margin-bottom: 80px;
}

.container {
  display: block;
  margin: 50px auto;
  width: 80%;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 2px;
  border-radius: 15px;
  background: black;
  background-size: 100%;
}
.settings {
  padding: 20px;
}
.source-link {
  display: block;
  margin: 0 auto;
}
.current-day,
.current-time,
.current-range {
  font-size: 18px;
}
